/*This is the custom CSS file for the website. All changes to CSS should be done here.*/

a {
  color: inherit;
}

.dropdown-menu{
  min-width: 80px;
  margin: -5px 15px 15px 5px;
}

.dropdown-menu a{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15em;
  white-space: nowrap;
}

.dropdown-submenu{
  position:relative;
}

.dropdown-submenu>a:after{
  display:block;content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}

.dropdown-submenu>.dropdown-menu{
  top:0;left:100%;margin-top:-6px;margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu{
  display:block;
}

.dropdown-submenu:hover>a:after{
  border-left-color:#ffffff;
}

.dropdown-submenu.pull-left{
  float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}

.embed-responsive.embed-responsive-16by9 {
  height: 100%;
  padding-bottom: 0px;
}

/*Styles for first item of a pair in an activity*/

.first {
  border-color: transparent;
  border: 2px;
  border-style: dashed;
  color: transparent;
}

.first > div > h2{
  color:black;
}
        
footer{
  padding-left: 5em;
  opacity:0.8;
  background: rgba(240, 69, 22, 0.5);
  align: left;
  position: relative;
  margin-top: -40px; /* negative value of footer height */
  height: 40px;
  padding-top: 2px;
}

.form-control{
  font-size: 10px;
}

header {
  /*min-height: 120px;*/ /*Keeps logo from overflowing header*/
  margin-bottom: 15px; /*Margin to add space before content of page */
  background: #f04516;
}

html, body {
  height: 100%;
  padding-bottom: 0px;
}

.iconbar{
  /*Add some white space around icons*/
  margin: 5px;
}

.list-inline{
  margin-top: 12px;
  margin-bottom: 12px;
}

.list-inline li{
  display: inline !important;
  margin: 5px;
  float: right;
}

#main {
  min-height: 100%;
  overflow:auto;
  padding-bottom:45px; /* this needs to be bigger than footer height*/
}

@media (max-width: 768px) {
  .contact {
    display: none;
  }
}

@media (max-width: 768px) {
  .iconbar {
    display: none;
  }
}

@media (min-width: 768px) {
  .mini-menu {
    display: none;
  }
  }

@media (max-width: 768px) {
  .navbar-collapse{
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }
}

@media (min-width: 768px) { 
  #page-content-wrapper{
    margin: 10px 30px 10px 130px; /*Extra margin to create a "column" for the menu button */
  }
}

@media (max-width: 768px) {
  #sidebar-wrapper {
    display: none;
  }
}

.mini-menu>ul>li {
  color: white;
  padding: 0px;
}

.navbar-brand {
  padding: 5px 15px;
  height: inherit;
}

.navbar-header{
  height: 80px;
  padding-right: 5px;
}

.navbar-header a {
  color: white;
}

.navbar-header > a:hover { 
  color: #F47D5C;
}

.navbar-horizontal {
  max-width:300px;
  margin-right: 0;
  margin-left: 0;
} 

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header .navbar-horizontal .navbar-fixed-top{
  float:none !important;
}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 5.5px;
  margin-bottom: 5.5px;
  background-color: white;
  background-image: none;
  border: 1px solid gray;
  border-radius: 3px;
  color: gray;
}

.navbar-toggle>span{
  background-color: gray;
}

/*Styles for second item in a pair in an activity*/

.second {
  border-color: transparent;
  border: 2px;
  border-style: dashed;
  color:transparent;
}

.second > div > h2{
  color:black;
}

.sidebar-nav li form {
    text-indent: 0px;
    line-height: 5px;
}

/*Styles for social media icons in the top header bar*/

.social {
  max-width: 100px;
  margin: 10px;
}

.social-icon {
 width: 40px;
 height: 40px;
}

/*Styles for start button*/

.start {
  width: 50%; 
  background-color: #F47D5C;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
}

.start:hover,.start:focus{
  color: #F47D5C;
  background-color: #FFB08F;
}

.title {
  padding-bottom: 10px;
}

#wrap {
  min-height: 100%;
}