
    header {
  border-top: 5px solid #333;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
}

      @media (min-width: 768px){
        .navbar-fixed-top{
          padding-bottom: 200px;
        }
        .navbar-collapse{
          height: auto;
          border-top: 0;
          box-shadow: none;
          max-height: none;
          padding-left: 0;
          padding-right: 0;
        }
        .navbar-collapse.collapse {
          display: block !important;
          width: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }
        .navbar-collapse.in {
          overflow-x: visible;
        }

        .navbar {
          max-width:300px;
          margin-right: 0;
          margin-left: 0;
        } 

        .navbar-nav,
        .navbar-nav > li,
        .navbar-left,
        .navbar-right,
        .navbar-header .navbar-horizontal .navbar-fixed-top
        {float:none !important;}
        .navbar-header{
          padding-right: 5px;
          padding-top: 3px;
        }
        
        .navbar-right .dropdown-menu {left:0;right:auto;}
        .navbar-collapse .navbar-nav.navbar-right:last-child {
          margin-right: 0;
        }

        .list-inline li{
          display: inline !important;
          margin: 5px;
          float: right;
          padding: 0;
        }
      }
      /*body{
          padding-top: 250px;
          padding-bottom: 80px;
      }*/ 
      /*This is what was causing the weird spacing with the heading once fixed properties were removed. 
        One of the tricky things about CSS is the difference between padding and margins. What we want 
        is a margin around the header, not padding in the body).
        Another useful thing to note is that instead of using fixed numbers of pixels,
        it's often better to use percentages, because it helps adjust for different screen sizes. 
       */
      footer{
        padding-left: 5em;
      }
      header{
      }