<header>
  <div class="wrap">
    <nav class ="navbar navbar-horizontal" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a href="http://migmaq.org" class="navbar-brand">
            <img src="{{ site.baseurl }}/img/sitelogo.png" alt="Mi'gmaq Online" class="img-circle" align="left" height="75px">
          </a>
          <a href="{{ site.baseurl }}/index.html" class="navbar-brand"><h3>Learn Mi'gmaq Online</h3></a>
        </div>
        <div class="row icon-bar" data-toggle="collapse">
          <ul class = "list-inline" align="right">
            <li>
              <a href="http://www.quizlet.com/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/quizlet.jpg" alt="Quizlet" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.migmaq.org" target="_blank"><img src="{{ site.baseurl }}/img/wordpress.png" alt="Migmaq.org" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.learnmigmaq.tumblr.com" target="_blank"><img src="{{ site.baseurl }}/img/tumblr.png" alt="Tumblr" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.twitter.com/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/twitter.png" alt="Twitter" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.instagram.com/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/instagram.png" alt="Instagram" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.wiki.migmaq.org" target="_blank"><img src="{{ site.baseurl }}/img/migmaq_star.png" alt="Migmaq Wikipedia" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.facebook.com/groups/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/facebook.png" alt="Facebook" class="img-rounded social-icon"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>