<header>
  <div class="wrap">
    <nav class ="navbar navbar-horizontal" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a href="{{ site.baseurl }}/img/sitelogo.png" class="navbar-brand">
            <img src="{{ site.baseurl }}/img/sitelogo.png" alt="Mi'gmaq Online" class="img-circle" align="left" height="75px">
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ site.baseurl }}/index.html" class="navbar-brand"><h3>Learn Mi'gmaq Online</h3></a>
        </div>
        <div class="row iconbar">
          <ul class = "list-inline" align="right">
            <li>
              <a href="http://www.quizlet.com/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/quizlet.jpg" alt="Quizlet" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.migmaq.org" target="_blank"><img src="{{ site.baseurl }}/img/wordpress.png" alt="Migmaq.org" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.learnmigmaq.tumblr.com" target="_blank"><img src="{{ site.baseurl }}/img/tumblr.png" alt="Tumblr" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.twitter.com/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/twitter.png" alt="Twitter" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.instagram.com/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/instagram.png" alt="Instagram" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://wiki.migmaq.org" target="_blank"><img src="{{ site.baseurl }}/img/migmaq_star.png" alt="Migmaq Wikipedia" class="img-rounded social-icon"></a>
            </li>
            <li>
              <a href="http://www.facebook.com/groups/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/facebook.png" alt="Facebook" class="img-rounded social-icon"></a>
            </li>
          </ul>
        </div>
        <div class="mini-menu" data-toggle="collapse" id="menu-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.baseurl }}/project.html">How to Use this Site</a></li>
            <li><a href="{{ site.baseurl }}/resources.html">Resources</a></li>
            <li><a href="{{ site.baseurl }}/welalieg.html">Wela'lieg</a></li>
            <li><a href="https://docs.google.com/forms/d/1BaVNaewifUYSSrlbkPviUZuyFUALTI7_1gLw-Nop2n0/viewform?usp=send_form">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>