<header>
  <div class="wrap">
    <nav class ="navbar navbar-horizontal" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a href="migmaq.org" class="navbar-brand">
            <img src="{{ site.baseurl }}/img/sitelogo.png" alt="Mi'gmaq Online" class="img-circle" align="left" height="75px">
          </a>
          <a href="{{ site.baseurl }}index.html" class="navbar-brand"><h1>Learn Mi'gmaq</h1></a>
        </div>
        <div class="row icon-bar">
          <ul class = "list-inline" align="right">
            <li>
              <a href="http://www.migmaq.org" target="_blank"><img src="{{ site.baseurl }}/img/wordpressimage.png" alt="Migmaq.org" class="img-rounded" width="40" height="40"></a>
            </li>
            <li>
              <a href="http://www.wiki.migmaq.org" target="_blank"><img src="{{ site.baseurl }}/img/wikiimage.png" alt="Migmaq Wikipedia" class="img-rounded" width="40" height="40"></a>
            </li>
            <li>
              <a href="http://www.quizlet.com/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/quizlet.png" alt="Quizlet" class="img-rounded" width="40" height="40"></a>
            </li>
            <li>
              <a href="http://www.learnmigmaq.tumblr.com" target="_blank"><img src="{{ site.baseurl }}/img/tumblrimage.png" alt="Tumblr" class="img-rounded" width="40" height="40"></a>
            </li>
            <li>
              <a href="http://www.instagram.com/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/instagramimage.png" alt="Instagram" class="img-rounded" width="40" height="40"></a>
            </li>
            <li>
              <a href="http://www.twitter.com/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/twitterimage.png" alt="Twitter" class="img-rounded" width="40" height="40"></a>
            </li>
            <li>
              <a href="http://www.facebook.com/groups/learnmigmaq" target="_blank"><img src="{{ site.baseurl }}/img/facebookimage.png" alt="Facebook" width="40" height="40" class="img-rounded"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>