<div id="sidebar-wrapper">
  <ul class="sidebar-nav dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="margin-bottom: 5px; display: block; position: static;">
    <li class="dropdown-submenu">
      <a tabindex="-1" href="#">Menu</a>
      <ul class="dropdown-menu">
        <li class="dropdown-submenu">
          <a>About</a>
          <ul class="dropdown-menu">
            <li><a href="about.html">The Mi'gmaq Language</a></li>
            <li><a href="project.html">The Project</a></li>
            <li><a href="team.html">The Team</a></li>
          </ul>
        </li>
        <li><a href="use.html">How to Use this Site</a></li>
        <li class="dropdown-submenu">
          <a href="intro.html">Table of Contents</a>
          <ul class="dropdown-menu">
            <li><a href="#">3rd level</a></li>
            <li><a href="#">3rd level</a></li>
          </ul>
        </li>
        <li><a href="resources.html">Resources</a></li>
      </ul>
    </li>
  </ul>
</div>