<footer style="height:150px">	
		   <div class="col-xs-12">
		   <p class="blockcenter">
		       <h5>How to cite:</h5>
			   Lillehaugen, Brook Danielle, George Aaron Broadwell, Michel R. Oudijk, Laurie Allen &amp; Enrique Valdivia. 2013.
			      Ticha: a digital text explorer for Colonial Zapotec, prototype version.
			   <a href="index.html">http://ticha.haverford.edu</a>.</p>
		   </div>
		   <div class="col-xs-12">
		  <p class="text-center">
				<a href="http://www.haverford.edu/">
				<img src="img/Haverford_Wordmark_Red_for_web.jpg" class="grouped_elements" alt="" width="170" height="42" />
			    </a>   
				<a href="http://tdh.brynmawr.edu/">
				<img src="http://ds.haverford.edu/wp/ticha/files/2013/08/TDH_72dpi3-300x156.jpg" class="grouped_elements" alt="This project generously supported with funding from the Tri-Co Digital Humanties." width="150" height="79" />
				</a>
				<a href="http://www.neh.gov/">
				<img src="img/neh_at_logo.png" style="margin-right: 50px" class="grouped_elements" alt="All opinions, findings, conclusions, or recommendations expressed in this project do not necessarily represent those of the National Endowment for the Humanities." width="170" height="41" />
				</a>
				<a href="#">Back to top</a></p>
			</div>
		</footer>


    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/popovers.js"></script>


